@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Baggrundsfarver */
  --color-background-primary: #fdf5d0;
  --color-background-lilac: #d2bccc;
  --color-background-plum-200: #f3b1c7;
  --color-background-plum-500: #8a2151;
  --color-background-green: #c1cb93;
  --color-background-blue: #b1d4cd;

  /* Button text farver, farverne matches med baggrundsfarverne */
  --color-button-primary: #4a5a58;
  --color-button-plum: #741a43;
  --color-button-green: #555c40;
  --color-button-purple: #674a5f;

  /*Tekstfarver */
  --color-text-primary: #8a2151;
  --color-text-purple: #061612;
  --color-text-green: #656c4b;
  --color-text-lilac: #815e77;
  --color-text-blue: #718884;
  --color-black: #000000;
  --color-white: #ffffff;

  /*Typografi */
  --font-display: "Cherry Bomb One", system-ui;
  --font-sans: "Montserrat", sans-serif;
}

@layer base {
}

@layer components {
}

@layer utilities {
}
