@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Baggrundsfarver */
  --color-background-primary: #fdf5d0;
  --color-background-lilac: #d2bccc;
  --color-background-plum-200: #f3b1c7;
  --color-background-plum-500: #8a2151;
  --color-background-green: #c1cb93;
  --color-background-blue: #b1d4cd;

  /* Button text farver, farverne matches med baggrundsfarverne */
  --color-button-primary: #4a5a58;
  --color-button-plum: #741a43;
  --color-button-green: #555c40;
  --color-button-purple: #674a5f;

  /*Tekstfarver */
  --color-text-primary: #8a2151;
  --color-text-purple: #061612;
  --color-text-green: #656c4b;
  --color-text-lilac: #815e77;
  --color-text-blue: #718884;
  --color-black: #000000;
  --color-white: #ffffff;

  /*Typografi */
  --font-display: "Cherry Bomb One", system-ui;
  --font-sans: "Montserrat", sans-serif;

  /*custom cursor*/
  --cursor-default: url(/img/cursor.svg) 10 10, auto;
  --cursor-pointer: url(/img/cursor-hover.svg) 10 10, pointer;
}

@layer base {
  html {
    cursor:
      url(/img/cursor.svg) 10 10,
      auto;
  }

  a,
  button,
  [role="button"] {
    cursor:
      url(/img/cursor-hover.svg) 10 10,
      pointer;
  }
}

@layer components {
}

@layer utilities {
}

/* Skjuler scrollbar i Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Skjuler scrollbar i Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

@theme {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-7deg);
    }
    50% {
      transform: rotate(7deg);
    }
  }
}

@theme {
  --animate-pulse-scale: pulse-scale 1.5s ease-in-out infinite;
  @keyframes pulse-scale {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}
