---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import HeroVideo from "../components/HeroVideo.astro";
---

<MainLayout title="Børnebiffen">
  <main class="grid grid-cols-6 md:grid-cols-12">
    <div class="text-center col-span-6 md:col-span-12 mb-8 text-text-primary">
      <Heading style="h1">Film i børnehøjde</Heading>
    </div>

    <!-- Tre knapper -->
    <div
      class="col-span-6 gap-4 md:col-span-12 flex justify-center mb-8 md:gap-20"
    >
      <Button>De mindste</Button>
      <Button>De lidt større</Button>
      <Button>De største</Button>
    </div>

    <section class="relative col-span-6 md:col-span-12">
      <!-- Lilla halv baggrund -->
      <div
        class="absolute bottom-95 md:bottom-50 left-0 w-full h-[20%] md:h-[50%] bg-background-lilac -z-10"
      >
      </div>
      <!-- scrollbar -->
      <div class="flex overflow-x-auto gap-4 pb-10 md:pb-30 md:gap-10">
        <HeroVideo img="/img/img_1.png" />
        <HeroVideo img="/img/img_2.png" />
        <HeroVideo img="/img/img_3.png" />
        <HeroVideo img="/img/img_4.png" />
        <HeroVideo img="/img/img_5.png" />
      </div>

      <!-- Kategori knapper -->
      <section
        class="mb-8 col-span-6 md:col-span-12 grid grid-cols-2 md:grid-cols-4 gap-4 justify-items-center"
      >
        <img
          src="/img/plum_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110 animate-pulse-scale"
        />
        <img
          src="/img/green_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110"
        />
        <img
          src="/img/lilac_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110"
        />
        <img
          src="/img/blue_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110"
        />
      </section>
    </section>

    <Text teksttype="brødtekst">Så bliver Anders glad:-)</Text>

    <Heading style="h2">Hej</Heading>
    <Text style="linktext">Dette er en linktekst</Text>
    <Text style="brødtekst">Dette er en brødtekst</Text>
  </main>
</MainLayout>
