---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import HeroVideo from "../components/HeroVideo.astro";
import ScrollBar from "../components/Scrollbar.astro";
---

<MainLayout title="Børnebiffen">
  <main class="grid grid-cols-6 md:grid-cols-12">
    <div class="text-center col-span-6 md:col-span-12 mb-8 text-text-primary">
      <Heading style="h1">Film i børnehøjde</Heading>
    </div>

    <!-- Tre knapper -->
    <div
      class="col-span-6 gap-4 md:col-span-12 flex justify-center mb-8 md:mb-20 md:gap-20"
    >
      <Button>De mindste</Button>
      <Button>De lidt større</Button>
      <Button>De største</Button>
    </div>

    <section class="relative col-span-6 md:col-span-12">
      <!-- Lilla halv baggrund -->
      <div
        class="absolute bottom-100 md:bottom-50 left-0 w-full h-[22%] md:h-[50%] bg-background-lilac -z-10"
      >
      </div>
      <!-- scrollbar -->
      <div
        id="heroScroll"
        class="flex overflow-x-auto gap-4 pb-20 md:pb-30 md:gap-10 no-scrollbar snap-x snap-mandatory"
        style="scroll-behavior: smooth;"
      >
        <div class="snap-center">
          <HeroVideo img="/img/img_1.png" />
        </div>
        <div class="snap-center" id="centerImage">
          <HeroVideo img="/img/img_2.png" />
        </div>
        <div class="snap-center">
          <HeroVideo img="/img/img_3.png" />
        </div>
        <div class="snap-center">
          <HeroVideo img="/img/img_4.png" />
        </div>
        <div class="snap-center">
          <HeroVideo img="/img/img_5.png" />
        </div>
      </div>

      <!-- Kategori knapper -->
      <section
        class="mb-5 md:mb-8 col-span-6 md:col-span-12 grid grid-cols-2 md:grid-cols-4 gap-4 justify-items-center"
      >
        <img
          src="/img/plum_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110 animate-wiggle"
        />
        <img
          src="/img/green_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110 animate-wiggle"
        />
        <img
          src="/img/lilac_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110 animate-wiggle"
        />
        <img
          src="/img/blue_button.svg"
          alt=""
          class="max-w-40 md:max-w-full cursor-pointer transition-transform duration-300 md:hover:scale-110 animate-wiggle"
        />
      </section>
    </section>

    <div class="col-span-6 md:col-span-12">
      <!-- SCROLLBAR SEKTION -->
      <ScrollBar
        colour="plum"
        title="Favoritter"
        blub="/img/plum_blub.svg"
        titlecolour="plum"
      />

      <ScrollBar
        colour="green"
        title="Se videre"
        blub="/img/green_blub.svg"
        titlecolour="green"
      />
      <ScrollBar
        colour="lilac"
        title="Fordi du så.."
        blub="/img/lilac_blub.svg"
        titlecolour="lilac"
      />
    </div>
  </main>
</MainLayout>

<script is:inline>
  window.addEventListener("load", () => {
    const centerImage = document.getElementById("centerImage");
    if (centerImage) {
      centerImage.scrollIntoView({
        behavior: "smooth",
        block: "nearest",
        inline: "center",
      });
    }
  });
</script>
