---
import Heading from "./Heading.astro";
// Henter parametrene fra Astro.props
const { variant = "primary", size = "medium" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling =
  "rounded-2xl bg-background-blue px-16 py-4 hover:scale-110 transition-transform duration-300 font-display" +
  // Tilføj størrelse-specifikke classes
  {
    large: "text-4xl",
    medium: "text-xl",
    small: "text-large",
  }[size];

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "text-4xl",
  medium: "text-xl",
  small: "text-large",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list --><!-- <button class:list={[buttonStyling]}
  ><Heading style="h3"><slot /></Heading></button
> -->
<button class:list={[buttonStyling]}><slot /></button>
