---
const { img, alt_tekst = "Hero video thumbnail" } = Astro.props;
---

<a href="/singleview" class="relative w-fit cursor-pointer block group">
  <!-- Billede -->
  <div
    class="md:rounded-4xl md:rounded-[100px] md:shadow-lg md:overflow-hidden"
  >
    <img
      src={img}
      alt={alt_tekst}
      class="max-w-[317px] max-h-[178px]
             md:max-w-[967px] md:max-h-[544px]
             shadow-lg md:shadow-xl
             rounded-4xl md:rounded-[100px]
             md:transform md:transition-transform md:duration-500 md:hover:scale-110"
    />
  </div>

  <!-- Play Button (normal) -->
  <img
    src="/img/play_button.svg"
    alt="Play Button"
    class="absolute inset-0 m-auto
           w-12 h-12 md:w-30 md:h-30
           pointer-events-none
           transition-opacity duration-200
           group-hover:opacity-0"
  />

  <!-- Play Button (hover) -->
  <img
    src="/img/play_button_hover.svg"
    alt="Play Button Hover"
    class="absolute inset-0 m-auto
           w-12 h-12 md:w-30 md:h-30
           pointer-events-none
           opacity-0 transition-opacity duration-200
           group-hover:opacity-100"
  />
</a>
